*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html,body{
    width:100%;
    height:100%;
    box-sizing:border-box; 
}

#main{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}
#panel{
    overflow: hidden;
    width:80%;
    height:80%;
    border-radius: 10px;
    background-color: white;
}
#panel-top{
    padding: 0px 30%;
    height:100px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: beige;
}
.elem{
    display:flex;
    align-items: center;
    gap:10px;
    font-size:18px;
}

.box{
    padding:14px;
    font-weight: 600;
    background-color: white;
    border-radius: 5px;
}

#panel-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    flex-wrap: wrap;
    height:calc(100%-100px);
    padding:20px;
}
#bubble{
    display:flex;
    align-items: center;
    justify-content: center;
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: aqua;
    color:black;
}
#bubble:hover{
      background-color: rgb(53, 110, 110);
      cursor: pointer;
}